.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.signup-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.achivementgoal-form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.achivementgoal-select {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.text-center {
  text-align: center;
}

.todo-box-container {
  display: inline-block;
}
.todo-box {
  float: left;
}
.myModal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}
.mymodal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 70%;
}
